
#footer {
    background-color: #212529;
    padding: 20px 0;
}

#footer h4, #footer h5 {
    color: #ffffff;
}

#footer .social-icons a {
    color: #ffffff;
    margin: 0 10px;
    font-size: 1.5rem;
}

#footer .social-icons a:hover {
    color: #007bff;
}

#footer ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer ul li a {
    color: #ecedee;
    text-decoration: none;
}

#footer ul li a:hover {
    color: #007bff;
    text-decoration: underline;
}

.footer-logo {
    max-width: 150px;
}
