#carouselHero {
    width: 100%;
    height: 100vh;
}
.carousel-inner img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.slogan-header {
    font-size: 5rem;
    font-weight: 900;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center; 
}
.slogan-description {
    font-size: 1.1rem;
    color: white;
    text-align: center; 
    width: 65%;
    margin: 0 auto;
}
#slogan{
    height: auto !important;
    margin-bottom: 60px;
    width: 80%;
    margin-left: 50px;   
}


.carousel-dark .carousel-indicators [data-bs-target] {
    width:15px;
    height: 15px;
    border-radius: 50%;
    margin-bottom: 90px;
    background-color: white;
}


@media (max-width:992px) {
    .slogan-header {
        font-size: 4rem;
    }
    .slogan-description {
        font-size: 1.1rem;
        width: 75%;
    }
}
@media (max-width:880px) {
    .slogan-header {
        font-size: 3.5rem;
    }
}
@media (max-width:768px){
    .carousel-caption {
        top: -100px;
    }
    .slogan-header {
        font-size: 3rem;
        margin-bottom: 27px !important;
    }
    .slogan-description {
        font-size: 1.1rem;
        width: 85%;
    } 
    #slogan {
        margin-bottom: 60px;
        margin-bottom: 27px !important;
    }
    .carousel-dark .carousel-indicators [data-bs-target] {
        margin-bottom: 80px;
    }
    
}

@media (max-width:576px){
    .slogan-header {
        font-size: 2.4rem;
        margin-bottom: 15px !important;
    }
    #slogan {
        margin-bottom: 15px !important;
    }
    .bookingBtnContainer{
        margin-top: 40px !important;
    }
}
@media (max-width: 515px){
    .slogan-header {
        font-size:2rem;
    }
    .carousel-item-1 .slogan-description, .carousel-item-2 .carousel-caption, .carousel-item-3 .carousel-caption {
        font-size: 1.1rem;
        width: 95%;
    }
    .carousel-caption {
        width: 100%;
    }
}


/* #carousel-item-1 CSS  */
.carousel-item-1 .carousel-caption {
    position: absolute; 
    top: -100px; 
    left: 0px;
    padding-bottom: 20px;
    display: flex;
    justify-content:center;
    flex-direction: column;
}


/* #carousel-item-2 CSS  */

.carousel-item-2 .carousel-caption, .carousel-item-3 .carousel-caption {
    position: absolute; 
    top: -100px; 
    padding-bottom: 20px;
    display: flex;
    width: 100%;
    left: 0;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}


