.navbar-toggler {
    margin-right: 25px;
}
nav {
    font-size: 18px;
    margin: 0 auto;
    position: sticky !important;
    top: 0;
    backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque */
    z-index: 99;
}

.nav-item {
    position: relative;
    transition: transform 0.3s ease; 
}
.nav-item:hover{
    transform: translateY(-13%)
}
.nav-item::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.5s ease;
}
.nav-item:hover::after { 
    width: 100%;
    background-color: rgb(226, 163, 38);
}
.navbar-brand {
    height: 70px;
    margin-left: 30px;
    width: 100px;
}
.navbar-brand img{
    height: 100%;
    width: 100%;
}
.nav-link {
    color: white !important;
}
.booking{
    background: rgb(0, 162, 255);
    color: rgb(255, 255, 255);
    display: table-cell;
    width: auto;
    height: 45px;
    padding: 0px 50px !important;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 2px 5px;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 790px) {
    .nav-item {
        text-align: center;
    }
    .navbar-brand {
        left: 25px;
    }
    .navbar-toggler {
        margin-right: 10px;
    }
   
    .navbar-nav{
        align-items: center;
    }
    .nav-item::after {
        transition: width 0.1s ease;
    }
    
}