
.full-width {
    width: 100%;
    border-radius: 20px !important;
    background-color: rgb(209, 209, 209) !important;
    grid-column: 1 / -1; /* Hace que el elemento ocupe todas las columnas del grid */
}

#userProfile {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
#userProfile label{
    font-weight: 700;
    color: #555;
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.profile-value{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

#userProfile textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border-radius: 10px;
}

#userProfile button {
    margin-top: 10px;
}
.profile-row{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
