#reviews h4{
    font-weight: 800;
    font-size: 35px;
}
.review-name-card{
    background-color:rgb(246, 243, 243);
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;  
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}
.review-name-card img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.review-description-container {
    background-color:rgb(222, 220, 220);
    border-radius: 20px;
}

.selected{
    background-color:rgb(222, 220, 220);
}